@import '../../../../styles/variables.scss';

.this__day {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.top__block {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;

    .this__temp {
        font-size: 96px;
        font-weight: 500;
        color: $primary-color;  
    }
    .this__day_name {
        font-size: 40px;
        color: var(#{--text-color-default});
    }
    .this__img {
        width: 150px;
        color: var(#{--text-color-default});
        text-align: center;
       
        svg {
            fill: var(#{--text-color-default});
            width: 119px;
            height: 119px;
        }
        .description{
            padding-top: -3px;
            font-size: 13px;
        }
    }
    
    
    
}   

.bottom__block {
    .this__time,
    .this__city {
        color: $base-color;
        font-size: 25px;
    }
}

